@model List<Project_M2_S3.Models.ProductConListIngr>


<h2>Tutte le pizze</h2>

<form action="InfoPizze" method="post">
    @for (int i = 0; i < Model.Count; i++) {
    <div class="card">
      <img src="@Model[i].Photo" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">@Model[i].Name</h5>
        <p class="card-text">@Model[i].Price</p>
        <ul>
        @foreach (var ingredienti in Model[i].ingrediente) {
        <li class="card-text">@ingredienti</li>
                }
                </ul>
      </div>
      <input type="number" name="ListaPizza[@i].quantita" value="@Model[i].quantita" />
      <input type="hidden" name="ListaPizza[@i].Id" value="@Model[i].Id" />      
      <input type="hidden" name="ListaPizza[@i].Price" value="@Model[i].Price" />      
      <input type="hidden" name="ListaPizza[@i].Name" value="@Model[i].Name" />
            <input type="hidden" name="ListaPizza[@i].DeliveryTimeInMinutes" value="@Model[i].DeliveryTimeInMinutes" />
    </div>
    }
      <button class="btn btn-outline-success">Aggiungi</button>
</form>
