@model List<Dao_2M_1S.Model.Clienti>


    <div class="d-flex">
        <div class="col-5 mx-5">
            @foreach(var cliente in Model)
            {
                @if (cliente.IsPrivate)
                {
                <div class="card">
                    <div class="d-flex">
                        <div>
                        <div class="card-body">
                            <h5 class="card-title">@cliente.Nome @cliente.Cognome</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">@cliente.Cognome</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div>
                            <form method="post" asp-action="BottoneElimina">
                                <input type="hidden" name="Id" value="@cliente.IdClienti" />
                                <button type="submit" class="btn btn-tarsparent">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                }
            }
        </div>
        <div class="col-5 mx-5">
            @foreach (var azienda in Model)
            {
                @if (!azienda.IsPrivate)
                {
                <div class="card">
                    <div class="d-flex">
                        <div>
                            <div class="card-body">
                                <h5 class="card-title">@azienda.Nome @azienda.Cognome</h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">@azienda.Cognome</h6>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                        <div>
                            <form method="post" asp-action="BottoneElimina">
                                <input type="hidden" name="IdProd" value="@azienda.IdClienti" />
                                <button type="submit" class="btn btn-tarsparent">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                                    </svg>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                }
            }
        </div>
    </div>
